<div class="popup">
  <div class="container d-flex direction-column j-c-space-between a-i-start h-100">
    <div class="d-flex direction-column gap-10" style="margin-top: 150px">
      <a
        *ngFor="let item of settings.settings?.menu"
        [routerLink]="getLink(item)"
        (click)="toSection(item, $event)"
        class="text-black"
      >{{item.name}}</a>
    </div>
    <div class="d-flex direction-column gap-30">
      <div class="d-flex direction-column gap-5">
        <span>+7 (843) 251-99-99</span>
        <span>hello{{'@'}}brainstore.agency</span>
      </div>
      <div class="d-flex direction-column gap-5">
        <span>Telegram</span>
        <span>VK</span>
      </div>
    </div>
  </div>
</div>
