<div class="header w-100">
  <div class="header-container container d-flex a-i-start j-c-space-between">
    <a routerLink="/" class="logo">
      брейнстор
      <div class="sub-logo">ТМ</div>
    </a>
    <div class="d-flex a-i-center gap-15 menu-item" *ngIf="!isMobile">
      <a href="#" (click)="$event.preventDefault();toSection('services')">Услуги</a>
      <a href="#" (click)="$event.preventDefault();toSection('works')">Работы</a>
      <a routerLink="/contacts">Контакты</a>
      <a routerLink="/team">Команда</a>
      <a routerLink="/merch">Стор</a>
    </div>
    <img src="images/menu.png" alt="menu" *ngIf="isMobile" style="width: 40px; height: 17px"
         (click)="openMobileHeader()"/>
  </div>
</div>
<app-mobile-header *ngIf="mobile_header" (close)="mobile_header = false"></app-mobile-header>
