.header {
  mix-blend-mode: difference;
  //color: var(--white);
  z-index: 99999;
  position: fixed;

  a {
    color: var(--header-link);
  }

  .header-container {
    height: 0;
    margin-top: 52px;

    @media (min-width: 1000px) {
      &:before {
        content: "";
        display: block;
        height: calc(100vh - 60px);
        position: fixed;
        border-left: 1px solid var(--white);
        top: 30px;
        left: 30px;
      }
    }

    .logo {
      max-width: 556px;
    }

    .menu-item {
      gap: 28px;
      font-weight: 400;
      font-size: 34px;
      letter-spacing: 0.25px;
      line-height: 40px;
    }
  }
}

@media (max-width: 999px) {
  .header {

    .header-container {
      //margin: 30px 20px;
      //width: auto;

      .logo {
        max-width: 228px;
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1450px) {
  .header {

    .header-container {

      .menu-item {
        font-size: 17px;
        letter-spacing: 0.13px;
        line-height: 20px;
      }

      .logo {
        max-width: 278px;
      }
    }
  }
}

@media (min-width: 1451px) and (max-width: 2000px) {
  .header {

    .header-container {

      .menu-item {
        font-size: 23px;
        letter-spacing: 0.13px;
        line-height: 25px;
      }

      .logo {
        max-width: 373px;
      }
    }
  }
}

