.padding {
  padding-top: 544px;
  padding-bottom: 80px;
}

.h-936 {
  height: 936px;
}

.gap-50 {
  gap: 50px;
}

.gap-30 {
  gap: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.form-item {
  border-bottom: 1px solid black;

  input {
    width: 80%;
    height: 40px;
    font-size: 30px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
}

.logo {
  width: 400px;
}

.dot {
  width: 36px;
  height: 36px;
}

.btn {
  margin-top: 100px;
  background-color: black;
  border-radius: 40px;
  color: white;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  padding: 40px;
}

textarea {
  height: 200px;

  &::placeholder {
    font-size: 24px;
    font-weight: 400;
    color: black;
  }
}

@media (max-width: 1300px) {
  .padding {
    flex-direction: column;
    padding-top: 170px;
    padding-bottom: 0;
  }

  .gap-50, .gap-30 {
    gap: 20px;
  }

  .h-936 {
    height: 0;
  }

  .w-50 {
    width: 100%;

  }

  .text-black, .text-gray {
    font-size: 15px;
    line-height: 25px;
  }

  textarea {
    height: 100px;

    &::placeholder {
      font-size: 12px;
    }
  }

  .min-text {
    font-size: 12px;
    width: 80%;
  }

  .logo {
    width: 180px;
  }

  .dot {
    width: 15px;
    height: 15px;
  }

  .mt-40 {
    margin-top: 140px;
    margin-bottom: 160px;
  }

  .a-i-center {
    align-items: start;
  }

  .btn {
    margin-top: 0;
    border-radius: 15px;
    font-size: 15px;
    line-height: 20px;
    padding: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {

  .container {
    width: 65%;
  }

}

@media (min-width: 1301px) and (max-width: 1450px) {
  .padding {
    padding-top: 285px;
    padding-bottom: 20px;
  }

  .text-black, .text-gray {
    font-size: 17px;
    line-height: 22px;
  }

  textarea {
    height: 130px;
  }

  .min-text {
    font-size: 12px;
    width: 80%;
  }

  .logo {
    width: 210px;
  }

  .dot {
    width: 18px;
    height: 18px;
  }

  .mt-40 {
    margin-top: 0;
  }

  .h-936 {
    height: 500px;
  }

  .w-80 {
    width: 70%;
  }

  .gap-30, .gap-50 {
    gap: 20px;
  }

  .btn {
    margin-top: 0;
    border-radius: 15px;
    font-size: 15px;
    line-height: 20px;
    padding: 25px;
  }
}

@media (min-width: 1451px) and (max-width: 2000px) {
  .padding {
    padding-top: 370px;
    padding-bottom: 40px;
  }

  .w-50 {
    width: 35%;
  }

  .text-black, .text-gray {
    font-size: 25px;
    line-height: 30px;
  }

  textarea {
    margin-top: 10px;
    height: 140px;
  }

  .min-text {
    font-size: 15px;
    width: 50%;
  }

  .logo {
    width: 210px;
  }

  .dot {
    width: 18px;
    height: 18px;
  }

  .mt-40 {
    margin-top: 0;
  }

  .h-936 {
    height: 660px;
  }

  .w-80 {
    width: 70%;
  }

  .gap-30, .gap-50, .gap-15 {
    gap: 30px;
  }

  .btn {
    margin-top: 30px;
    border-radius: 28px;
    font-size: 20px;
    line-height: 25px;
    padding: 40px;
  }
}

