@media (max-width: 999px) {
  .mb-60 {
    margin-bottom: 30px;
    margin-top: 32px;
  }

  .w-auto {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0;
  }
}

@media (min-width: 1000px) and (max-width: 1350px) {
  .mb-60 {
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 0;
  }
}

@media (min-width: 1351px) and (max-width: 1900px) {
  .mb-60 {
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 0;
  }
}

@media (min-width: 1901px) and (max-width: 2700px) {
  .mb-60 {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 0;
  }
}

@media (min-width: 2701px) and (max-width: 3000px) {
  h2 {
    margin-bottom: 0;
  }
}
