.item {
  height: 415px;
  border-left: 1px solid var(--black);
  padding: 40px;
}

.h2 {
  margin-top: 62px;
  margin-bottom: 75px;
}

.w-25 {
  width: 25%;
}

.hover {
  opacity: 0.00;
  transition: 1s all ease-in-out;
  -moz-transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;

}

.service-item {
  .text-black {
    font-size: 20px;
    line-height: 25px;

    & + .text-gray {
      font-size: 14px;
      line-height: 17px;
    }

    @media (min-width: 1400px) {
      font-size: 25px;
      line-height: 30px;

      & + .text-gray {
        font-size: 17px;
        line-height: 20px;
      }
    }

    @media (min-width: 1921px) {
      font-size: 34px;
      line-height: 45px;

      & + .text-gray {
        font-size: 23px;
        line-height: 30px;
      }
    }
  }

  &:hover {
    .hover {
      opacity: 1.00;
    }

    .text-gray em {
      color: var(--black);
    }
  }
}

@media (max-width: 1250px) {

  .flex-wrap {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .item {
    height: 90px;
    border-left: none;
    border-top: 1px solid var(--black);
    padding: 0;
  }

  .w-25, .w-80 {
    width: 100%;
  }

  .j-c-space-between {
    justify-content: center;
  }

  .text-black {
    width: 80%;
  }

  .mb-60 {
    margin-bottom: 0;
  }

  .hover {
    display: none;
  }
}

@media (min-width: 370px) and (max-width: 999px) {
  .h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1000px) and (max-width: 1250px) {
  .h2 {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1251px) and (max-width: 1450px) {
  .h2 {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .item {
    height: 195px;
    border-left: 1px solid var(--black);
    padding: 20px;
  }

  .mb-60 {
    margin-bottom: 30px;
  }

  .text-black {
    width: 60%;
  }

}

@media (min-width: 1451px) and (max-width: 2000px) {
  .h2 {
    margin-top: 36px;
    margin-bottom: 50px;
  }

  .item {
    height: 285px;
    border-left: 1px solid var(--black);
    padding: 24px 41px;
  }

  .mb-60 {
    margin-bottom: 40px;
  }

  .text-black {
    width: 85%;
  }

}


