<div class="w-100 background-white">
  <div class="container d-flex j-c-start direction-column">
    <h2 class="h2">Услуги</h2>
    <div class="d-flex w-80 direction-row flex-wrap">
      <div class="service-item d-flex j-c-space-between direction-column item w-25 mb-60" *ngFor="let item of items">
        <div class="text-black">{{item.black}}</div>
        <div class="text-gray hover"><span class="text-black">{{item.company}}</span>{{item.description}}</div>
      </div>
    </div>
  </div>
</div>
