.header {
  mix-blend-mode: difference;
  color: #ffffff;
  z-index: 99999;
  position: fixed;

  .header-container {
    margin: 42px;
    width: auto;

    .logo {
      font-family: 'ABCFavoritCYRItalic';
      position: relative;
      margin-top: -20px;
      margin-left: 36px;
      font-weight: 900;
      font-size: 90px;
      font-style: italic;

      .sub-logo {
        font-family: 'ABCFavoritCYRItalic';
        position: absolute;
        top: 20px;
        right: -40px;
        font-style: italic;
        font-weight: 900;
        font-size: 23px;
      }
    }

    .menu-item {
      font-weight: 400;
      font-size: 34px;
      letter-spacing: 0.25px;
      line-height: 40px;
    }
  }
}

@media (max-width: 999px) {
  .header {

    .header-container {
      margin: 30px 20px;
      width: auto;

      .logo {
        margin-left: 0;
        position: relative;
        font-size: 37px;

        .sub-logo {
          top: 10px;
          right: -20px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1450px) {
  .header {

    .header-container {
      margin: 30px 40px 0 75px;
      width: auto;

      .menu-item {
        font-size: 17px;
        letter-spacing: 0.13px;
        line-height: 20px;
      }

      .logo {
        margin-left: 0;
        position: relative;
        font-size: 45px;

        .sub-logo {
          top: 10px;
          right: -20px;
          font-size: 15px;
        }
      }
    }
  }
}

