.slider-containerr {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-wrapperr {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease;
  height: 100vh;
}

.slidee {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

.indicators {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;

  div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    &.active {
      background-color: white;
    }
  }
}

.home-slide {

  video {
    width: 100%;
  }

  .video-background {
    background-color: #00000090;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    touch-action: pan-y;

    &.blur {
      filter: blur(20px);
    }
  }

  .content {
    color: var(--white);
    top: 0;
    position: absolute;
    height: 100vh;

    a {
      color: var(--white);
    }

    // .blur {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   // background: #000;
    //   // opacity: 0.5;
    //   background-image: url('/images/blur.png');
    // }

    .logo {
      width: 50%;
    }
  }
}


@media (max-width: 999px) {

  .slider-wrapperr {
    height: 86vh;

    .video-background {
      height: 86vh;
    }

    .content {
      height: 86vh;

      .logo {
        width: 285px;
      }
    }

  }

}


//PC

@media (min-width: 1351px) and (max-width: 1900px) {
  .home-slide {

    .content {

      .logo {
        width: 539.05px;
      }
    }

  }
}

@media (min-width: 1901px) and (max-width: 2700px) {
  .home-slide {

    .content {

      .logo {
        width: 742px;
      }
    }
  }
}

@media (min-width: 2701px) and (max-width: 3000px) {
  .home-slide {

    .content {

      .logo {
        width: 1078.1px;
      }
    }

  }
}


