<p-carousel
  [value]="settings.settings?.home_slides || []"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [showIndicators]="true"
  [showNavigators]="false"
  (onPage)="change($event)"
  [page]="page"
>
  <ng-template let-item pTemplate="item">
    <div
      [class]="'home-slide '"
      (mouseover)="hovered = true"
      (mouseout)="hovered = false"
    >
      <div
        class="video-background w-100 h-100"
        [style.background-image]="'url('+item.image_url+')'"
      >
        <iframe
          *ngIf="item.video"
          class="mb-60 w-94"
          width="100%"
          height="100%"
          [src]="url(item.video, hovered && item.index == page) | safe"
          frameBorder="0"
          allow="autoplay; clipboard-write; encrypted-media;"
        ></iframe>
      </div>
      <div [class]="'content w-100 d-flex a-i-center j-c-center ' + (item.apply_blur ? 'blur' : '')">
        <div class="w-100 h-100 d-flex a-i-center j-c-center border">
          <img *ngIf="item.show_logo" src="images/biglogo.svg" alt="logo" class="mb-50 logo"/>
          <div class="bottom-container d-flex direction-column j-c-start gap-10">
            <!--            <img src="images/circles.svg" class="circles" alt="icon"/>-->
            <a *ngIf="!item.link" [href]="item.link">
              <markdown class="text-title" [data]="item.description"></markdown>
            </a>
            <markdown *ngIf="item.link" class="text-title" [data]="item.description"></markdown>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
