<div class="slider-containerr">
  <div class="slider-wrapperr" [style.transform]="'translateX(' + (-page.value * 100) + '%)'">
    <div *ngFor="let item of items; let i = index" class="slidee">
      <div
        [class]="'home-slide '"
        (mouseover)="hovered = true"
        (mouseout)="hovered = false"
      >
        <div
          [class]="'video-background w-100 h-100 ' + (item.apply_blur ? 'blur' : '')"
          [style.background-image]="item.image_url ? 'url('+item.image_url+')' : ''"
        >
          <video
            [id]="'home_slide_' + i"
            *ngIf="item.video_url"
            muted
            loop
            oncanplay="this.play()"
            onloadedmetadata="this.muted = true"
            playsinline
            webkit-playsinline="true"
            [attr.playsinline]="true"
          >
            <source [src]="item.video_url" type="video/mp4">
          </video>
        </div>
        <div [class]="'content w-100 d-flex a-i-center j-c-center '">
          <div class="w-100 h-100 d-flex a-i-center j-c-center">
            <img *ngIf="item.show_logo" src="images/biglogo.svg" alt="logo" class="logo"/>
            <div class="bottom-container d-flex direction-column j-c-start gap-10">
              <a *ngIf="!item.link" [href]="item.link">
                <markdown class="text-title" [data]="item.description"></markdown>
              </a>
              <markdown *ngIf="item.link" class="text-title" [data]="item.description"></markdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Индикаторы для ПК версии -->
  <div *ngIf="!isMobile" class="indicators">
    <div *ngFor="let item of items; let i = index"
         [class.active]="i === page.value"
         (click)="page.next(i)"></div>
  </div>
</div>
