.slider-containerr {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-wrapperr {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease;
  height: 100vh;
}

.slidee {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

.indicators {
  position: absolute;
  gap: 7px;
  bottom: 194px;
  left: 75px;

  div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background: #FFF;
    cursor: pointer;
    transition: background 0.3s ease;

    &.active {
      background: transparent;
    }

  }
}

.home-slide {

  video {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
  }

  .video-background {
    background-color: #00000090;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: pan-y;

    &.blur {
      filter: blur(20px);
    }
  }

  .content {
    color: var(--white);
    top: 0;
    position: absolute;
    height: 100vh;

    a {
      color: var(--white);
    }

    .logo {
      width: 50%;
    }
  }
}


@media (max-width: 999px) {

  .indicators {
    bottom: 175px;
    left: 20px;
    gap: 5px;

    div {
      width: 10px;
      height: 10px;
    }

  }

  .slider-wrapperr {
    height: 86vh;

    .video-background {
      height: 86vh;
    }

    .content {
      height: 86vh;

      .logo {
        width: 285px;
      }
    }

  }

}


//PC

@media (min-width: 1351px) and (max-width: 1900px) {

  .indicators {
    position: absolute;
    bottom: 175px;
    left: 41px;
    gap: 7px;

    div {
      width: 15px;
      height: 15px;
    }
  }

  .home-slide {

    .content {

      .logo {
        width: 539.05px;
      }
    }

  }
}

@media (min-width: 1901px) and (max-width: 2700px) {

  .indicators {
    gap: 7px;
    bottom: 225px;
    left: 62px;

    div {
      width: 15px;
      height: 15px;
    }
  }

  .home-slide {

    .content {

      .logo {
        width: 742px;
      }
    }
  }
}

@media (min-width: 2701px) and (max-width: 3000px) {
  .indicators {
    gap: 10px;
    bottom: 335px;
    left: 82px;

    div {
      width: 20px;
      height: 20px;
    }
  }

  .home-slide {

    .content {

      .logo {
        width: 1078.1px;
      }
    }

  }
}


