.padding {
  padding: 545px 0;
}

.border {
  border-left: 1px solid var(--black);
}

.h-760 {
  height: 760px;
}

img {
  max-width: 380px;
}

.company {
  font-size: 44px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.5px;
  color: var(--black);
  padding: 25px 80px;
  border-radius: 160px;
  background-color: var(--gray);

  &:hover {
    background-color: var(--black);
    color: var(--white);

    .description {
      display: flex;
    }
  }
}

.ml-40 {
  margin-left: 40px;
}

.gap-60 {
  gap: 60px;
}

.description {
  margin-left: 40px;
  display: none;
}

.description.visible {
  display: flex;
}

.description.hidden {
  display: none;
}

@media (max-width: 999px) {

  .padding {
    padding: 166px 0 172px;
  }

  .h22 {
    padding-bottom: 30px;
    padding-left: 17px;
    border-left: 1px solid black;
    display: inline-block;
  }

  .company {
    font-weight: 400;
    font-size: 15px;
    line-height: 16.49px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 15px 24px;
    border-radius: 49px;
  }

  .mb-60 {
    margin-bottom: 0;
  }

  .gap-10 {
    gap: 5px;
  }

  .ml-40 {
    margin-left: 17px;
  }

  .h-760 {
    height: 540px;
  }

  .description {
    margin-left: 20px;
  }

  img {
    max-width: 168px;
  }

  .gap-60 {
    gap: 23.5px;
  }

  .text-gray, .text-black {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;

  }
}

@media (min-width: 1000px) and (max-width: 1350px) {

  .padding {
    padding: 270px 0 275px;
  }

  .company {
    font-size: 22px;
    line-height: 27px;
    padding: 20px 40px;
    border-radius: 80px;
  }

  .mb-60 {
    margin-bottom: 30px;
  }

  .gap-10 {
    gap: 5px;
  }

  .ml-40 {
    margin-left: 20px;
  }

  .h-760 {
    height: 380px;
  }

  .description {
    width: 50%;
    margin-left: 20px;
  }

  img {
    max-width: 200px;
  }

  .gap-60 {
    gap: 35px;
  }

  .text-gray, .text-black {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (min-width: 1351px) and (max-width: 1900px) {

  .padding {
    padding: 241.5px 0 274.5px;
  }

  .border {
    border-left: 1px solid var(--black);
    height: 380px;
  }

  .company {
    text-align: center;
    width: 216px;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.5px;

    padding: 19px 40px;
    border-radius: 80px;
  }

  .mb-60 {
    margin-bottom: 30px;
  }

  .gap-10 {
    gap: 5px;
  }

  .ml-40 {
    margin-left: 20px;
  }

  .description {
    width: 50%;
    margin-left: 20px;
  }

  img {
    max-width: 188.77px;
    width: 188.77px;
  }

  .gap-60 {
    gap: 34px;
  }

  .text-gray, .text-black {
    font-weight: 400;
    font-size: 17px;
    line-height: 22.5px;

  }
}

@media (min-width: 1901px) and (max-width: 2700px) {

  .padding {
    padding: 330px 0 371px;
  }

  .border {
    border-left: 1px solid var(--black);
    height: 525px;
  }

  .company {
    width: 297px;
    padding: 25px 55px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.5px;
    text-align: center;;
  }

  .mb-60 {
    margin-bottom: 34px;
  }

  .gap-10 {
    gap: 10px;
  }

  .description {
    width: 50%;
    margin-left: 40px;
  }

  img {
    max-width: 260px;
    width: 260px;
  }

  .gap-60 {
    gap: 47px;
  }

  .text-gray, .text-black {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

  }
}

@media (min-width: 2701px) and (max-width: 3000px) {

  .padding {
    padding: 480px 0 549px;
  }

  .border {
    border-left: 1px solid var(--black);
    height: 760px;
  }


  .company {
    width: 462px;
    font-weight: 400;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 38px 80px;
    border-radius: 160px;
  }

  .gap-10 {
    gap: 10px;
  }

  .description {
    width: 50%;
    margin-left: 40px;
  }

  img {
    max-width: 377.54px;
    width: 377.54px;
  }

  .gap-60 {
    gap: 66px;
  }

  .text-gray, .text-black {
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;
  }
}
