.projects-slider {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: grab;

  &.isMouseDown {
    cursor: grabbing;
  }

  .slide {
    position: relative;
    width: 300px;
    min-width: 900px;
    margin-right: 40px;

    .banner {
      position: relative;
      border-radius: 60px;
      margin-bottom: 36px;
    }

    .services {
      position: absolute;
      top: 40px;
      left: 40px;

      .service {
        background-color: white;
        border-radius: 20px;
        padding: 12px 36px;
        color: black;
        font-weight: 400;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: 0.5px;
      }
    }
  }
}

@media (max-width: 999px) {
  .projects-slider {

    .slide {
      width: 300px;
      height: 320px;
      min-width: 300px;
      margin-right: 10px;

      .banner {
        height: 270px;
        border-radius: 20px;
        margin-bottom: 10px;
      }

      .services {
        position: absolute;
        top: 10px;
        left: 10px;

        .service {
          padding: 3px 15px;
          border-radius: 12px;
          font-size: 12px;
        }
      }
    }
  }
}

