.w-95 {
  width: 95%;
}

.padding {
  padding-top: 511px;
  padding-bottom: 217px;
}

@media (max-width: 999px) {
  .padding {
    padding-top: 160px;
    padding-bottom: 80px;
  }

  .w-95 {
    width: 80%;
  }
}
