<div class="team-content w-100">
  <div class="d-flex direction-column a-i-start w-100 container">
    <markdown class="text-title mb-400 padd w-80"
              [data]="settings.settings?.contacts_description"></markdown>
    <markdown class="w-50 texx mb-80" [data]="settings.settings?.contacts_sub_description"></markdown>
    <img [src]="settings.settings?.contacts_image_description" alt="picture" class="mb-60 mob-full"/>
    <markdown class="text-gray mb-401 mobile-margin" [data]="settings.settings?.contacts_image_description"></markdown>
  </div>
  <app-manifesto class=""></app-manifesto>
  <app-works class=""></app-works>
  <app-form class=""></app-form>
</div>

