.merch-content {
  color: black;
  background-color: white;

  .merch-item {
    padding-top: 200px;
    padding-bottom: 170px;

    .merch-img {
      width: 70%;
      margin-bottom: 40px;
    }

    .sub-text-img {
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 0.5px;
      line-height: 35px;
      position: relative;

      .tm {
        position: absolute;
        top: -10px;
        right: -18px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
      }
    }

    .sub-text-img-gray {
      color: rgba(0, 0, 0, 0.25);
    }
  }
}

@media (max-width: 999px) {
  .merch-content {

    .merch-item {
      padding-top: 150px;
      padding-bottom: 80px;

      .merch-img {
        width: 60%;
        margin-bottom: 10px;
      }

      .sub-text-img {
        margin-bottom: 10px;
        font-size: 12px;
        letter-spacing: 0.2px;
        line-height: 13px;

        .tm {
          position: absolute;
          top: -8px;
          right: -12px;
          font-size: 8px;
          font-weight: 400;
          letter-spacing: 0.2px;
        }
      }

      .sub-text-img-gray {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1450px) {
  .merch-content {

    .merch-item {

      .merch-img {
        width: 50%;
        margin-bottom: 20px;
      }

      .sub-text-img {
        margin-bottom: 10px;
        font-size: 14px;
        letter-spacing: 0.25px;
        line-height: 17px;
      }

    }
  }
}

@media (min-width: 1451px) and (max-width: 2000px) {
  .merch-content {

    .merch-item {

      padding-top: 300px;
      padding-bottom: 170px;

      .merch-img {
        width: 70%;
        margin-bottom: 23px;
      }

      .sub-text-img {
        margin-bottom: 10px;
        font-size: 20px;
        letter-spacing: 0.25px;
        line-height: 25px;

        .tm {
          position: absolute;
          top: -10px;
          right: -25px;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.5px;
        }
      }

    }
  }
}
