<div class="d-flex w-100 card-content" *ngIf="project|async; let project">
  <div *ngIf="(project?.blocks?.length||0); let length"
       class="card-content-container d-flex direction-column a-i-start w-100">
    <div style="margin-bottom: 70px">
      <markdown class="text-title d-inline">*{{project?.name}}*</markdown>
      <markdown class="text-title d-inline"> — {{project.short_description}}</markdown>
    </div>

    <div class="d-flex direction-row flex-wrap w-95 gap-10 mb-400">
      <div class="service" *ngFor="let tag of project?.tags">{{tag}}</div>
    </div>


    <div *ngFor="let description of project?.blocks; let i = index" style="width: 100%">
      <app-statistics *ngIf="i === length - 1" class="mb-300 ml5 d-block"></app-statistics>

      <div class="text-gray mb-50">{{description.title}}</div>
      <markdown [class]="'text-black mb-80 w-70 ' + (i === length - 1 ? 'w-50':'')"
                [data]="description.description"></markdown>
      <img *ngIf="description.image && i !== length - 1" [src]="description.image" alt="picture"
           [class]="i === 0 ? 'mb-400 w-94' : 'mb-300 w-70'"/>
      <img *ngIf="description.image && i === length - 1" [src]="description.image" alt="picture"
           class="mb-60 w-94"/>

      <iframe
        *ngIf="description.link"
        class="mb-60 w-94"
        [width]="size.width"
        [height]="size.height"
        [src]="url(description.link) | safe"
        frameBorder="0"
        allow="clipboard-write; autoplay"
        webkitAllowFullScreen
        mozallowfullscreen
        allowFullScreen
      ></iframe>

    </div>


    <div class="d-flex direction-row flex-wrap w-95 gap-10 mb-400">
      <div class="service" *ngFor="let tag of project?.tags">{{tag}}</div>
    </div>
    <app-works class="mb-400 ml7"></app-works>
    <app-form class="ml5"></app-form>
  </div>
</div>
