<div class="d-flex w-100 card-content direction-column" *ngIf="project|async; let project">
  <div *ngIf="(project?.blocks?.length||0); let length"
       class="container d-flex direction-column a-i-start w-100">
    <div class="title-comp">
      <markdown class="text-title d-inline">*{{project?.name}}*</markdown>
      <markdown class="text-title d-inline text-block" [data]="(project.short_description | wrapShortWords)"></markdown>

    </div>

    <div class="d-flex direction-row w-95 gap-10 mb-400 swipe-horizontal">
      <div class="service" *ngFor="let tag of project?.tags">{{tag}}</div>
    </div>


    <div *ngFor="let description of project?.blocks; let i = index"
         style="width: 100%">
      <app-statistics
        *ngIf="i === length - 1 && project.advs && project.advs.length"
        [items]="project.advs"
        [title]="project.advantage_title"
        class="mb-300 ml5 d-block"
      ></app-statistics>

      <div class="text-gray mb-50">{{description.title}}</div>
      <markdown [class]="'text-black text-block mb-80 w-45 ' + (i === length - 1 ? 'w-50':'')"
                [data]="(description.description | wrapShortWords)"></markdown>

      <img *ngIf="description.image" [src]="description.image" alt="picture"
           [class]="'mob-full ' +(i === 0 ? 'w-100' : 'w-70')"/>

      <iframe
        *ngIf="description.link"
        class="mob-full w-100"
        [width]="size.width"
        [height]="size.height"
        [src]="url(description.link) | safe"
        frameBorder="0"
        allow="clipboard-write; autoplay"
        webkitAllowFullScreen
        mozallowfullscreen
        allowFullScreen
      ></iframe>

      <div *ngIf="description.image_description">
        <markdown class="textttt text-block" [data]="(description.image_description | wrapShortWords)"></markdown>
      </div>

      <div *ngIf="i !== length - 1" [class]="i === 0 ? 'mb-401' : 'mb-300'"></div>
      <div *ngIf="i === length - 1" style="margin-bottom: 20px"></div>

    </div>


    <div class="d-flex direction-row w-95 gap-10 mb-400 swipe-horizontal">
      <div class="service" *ngFor="let tag of project?.tags">{{tag}}</div>
    </div>
  </div>
  <app-works></app-works>
  <app-form></app-form>
</div>
