.team-content {
  color: var(--black);
  background-color: var(--bg-color);

  .team-content-container {
    padding: 250px 0 0 75px;

    .mb-70 {
      margin-bottom: 70px;
    }

    .mb-80 {
      margin-bottom: 80px;
    }

    .mb-400 {
      margin-bottom: 400px;
    }

    .mb-200 {
      margin-bottom: 200px;
    }

    .w-94 {
      width: 94%;
    }

    .ml5 {
      margin-left: -5%;
    }

    .ml7 {
      margin-left: -5%;
    }
  }
}

@media (max-width: 999px) {
  .team-content {

    .team-content-container {
      padding: 150px 0 0 20px;

      .mb-60 {
        margin-bottom: 30px;
      }

      .mb-80 {
        margin-bottom: 20px;
      }

      .mb-400 {
        margin-bottom: 200px;
      }

      .w-50 {
        width: 80%;
      }

      .mobile-margin {
        margin-bottom: 0;
      }

      .mb-200 {
        margin-bottom: 0;
      }

      .w-94 {
        width: 100%;
        margin-left: -20px;
      }

      .ml5 {
        margin-left: -5%;
      }

      .ml7 {
        margin-left: -7%;
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1450px) {
  .team-content {

    .w-80 {
      width: 60%;
    }

    .team-content-container {
      padding: 250px 0 0 75px;

      .mb-60 {
        margin-bottom: 30px;
      }

      .mb-80 {
        margin-bottom: 20px;
      }

      .mb-400 {
        margin-bottom: 250px;
      }

      .w-50 {
        width: 35%;
      }

      .text-gray {
        font-size: 17px;
        line-height: 22px;
        width: 70%;
        margin-bottom: 0;
      }

      .mobile-margin {
        margin-bottom: 0;
      }

      .mb-200 {
        margin-bottom: 0;
      }

      .ml5 {
        margin-left: -5%;
      }

      .ml7 {
        margin-left: -7%;
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1451px) and (max-width: 2000px) {
  .team-content {

    .w-80 {
      width: 60%;
    }

    .team-content-container {
      padding: 380px 0 0 75px;

      .mb-60 {
        margin-bottom: 30px;
      }

      .mb-80 {
        margin-bottom: 20px;
      }

      .mb-400 {
        margin-bottom: 250px;
      }

      .w-50 {
        width: 35%;
      }

      .text-gray {
        font-size: 20px;
        line-height: 25px;
        width: 60%;
        margin-bottom: 0;
      }

      .mobile-margin {
        margin-bottom: 0;
      }

      .mb-200 {
        margin-bottom: 0;
      }

      .ml5 {
        width: 105%;
      }

      .ml7, .ml5 {
        margin-left: -5%;
        margin-bottom: 0;
      }
    }
  }
}
