.team-content {
  color: black;
  background-color: white;

  .team-content-container {
    padding: 250px 0 0 75px;

    .mb-70 {
      margin-bottom: 70px;
    }

    .mb-80 {
      margin-bottom: 80px;
    }

    .mb-400 {
      margin-bottom: 400px;
    }

    .mb-200 {
      margin-bottom: 200px;
    }

    .w-94 {
      width: 94%;
    }

    .ml5 {
      margin-left: -5%;
    }

    .ml7 {
      margin-left: -7%;
    }
  }

}
