.section {
  border-left: 1px solid var(--black);
  padding: 96px 0 0 20px;
  //width: 25%;
  min-width: 333px;
  //max-width: 25%;
  position: relative;


  .count {
    font-family: 'ABCFavoritCYR';
    font-weight: 900;
    font-size: 170px;
    line-height: 85px;
    letter-spacing: -4px;
    white-space: nowrap;
  }

  .w-70 {
    width: 70%;
  }
}

@media (max-width: 999px) {
  .background-white {
    .container {
      .mb-60 {
        margin-bottom: 40px;
      }

      .direction-row {
        flex-direction: column;
        gap: 20px;

        .section {
          height: 180px;
          padding: 52px 0 13px 20px;

          .mb-50 {
            margin-bottom: 12px;
          }

          .count {
            font-size: 75px;
            line-height: 53px;
            letter-spacing: -2.5px;
          }
        }
      }
    }
  }


}

@media (min-width: 1000px) and (max-width: 1350px) {
  .background-white {

    .w-80 {
      width: 60%;
    }

    .container {
      .mb-60 {
        margin-bottom: 30px;
      }

      .direction-row {
        gap: 20px;

        .section {
          padding: 50px 0 0 20px;

          .mb-50 {
            margin-bottom: 25px;
          }

          .count {
            font-size: 85px;
            line-height: 42px;
            letter-spacing: -2px;
          }
        }
      }
    }
  }


}

@media (min-width: 1351px) and (max-width: 1900px) {

  .background-white {

    .w-80 {
      width: 65%;
    }

    .container {
      .mb-60 {
        margin-bottom: 24px;
      }


      .direction-row {

        .section {
          height: 190px;
          min-width: 400px;
          padding: 48px 62px 12.5px 19px;

          .mb-50 {
            margin-bottom: 24.5px;
          }

          .count {
            font-weight: 900;
            font-size: 85px;
            line-height: 42.5px;
            letter-spacing: -2px;
            margin-bottom: 24.5px;
          }
        }
      }
    }
  }

}

@media (min-width: 1901px) and (max-width: 2700px) {

  .background-white {

    .w-80 {
      width: 65%;
    }


    .container {
      .mb-60 {
        margin-bottom: 30px;
      }

      .direction-row {

        .section {
          height: 260px;
          min-width: 500px;
          padding: 45px 50px 16px 39px;

          .mb-50 {
            margin-bottom: 24.5px;
          }

          .count {
            font-weight: 900;
            font-size: 115px;
            line-height: 120px;
            letter-spacing: -2.75px;
            margin-bottom: 35px;
          }
        }
      }
    }
  }

}

@media (min-width: 2701px) and (max-width: 3000px) {
  .background-white {

    .w-80 {
      width: 65%;
    }

    .container {

      .direction-row {

        .section {
          min-width: 666px;
          height: 380px;
          padding: 96px 124px 26px 38px;


          .count {
            font-size: 115px;
            line-height: 120px;
            letter-spacing: -2.7px;
            margin-bottom: 49px;
          }
        }
      }
    }
  }


}
