.section {
  border-left: 1px solid black;
  padding: 96px 0 0 26px;

  .count {
    font-family: 'ABCFavoritCYR';
    font-weight: 900;
    font-size: 170px;
    line-height: 85px;
    letter-spacing: -4px;
  }

  .w-70 {
    width: 70%;
  }
}

@media (max-width: 999px) {
  .background-white {
    .container {
      .mb-60 {
        margin-bottom: 40px;
      }

      .direction-row {
        flex-direction: column;
        gap: 20px;

        .section {
          padding: 50px 0 0 20px;

          .mb-50 {
            margin-bottom: 12px;
          }

          .count {
            font-size: 75px;
            line-height: 53px;
            letter-spacing: -2.5px;
          }
        }
      }
    }
  }


}

@media (min-width: 1000px) and (max-width: 1450px) {
  .background-white {

    .w-80 {
      width: 60%;
    }

    .container {
      .mb-60 {
        margin-bottom: 30px;
      }

      .direction-row {
        gap: 20px;

        .section {
          padding: 50px 0 0 20px;

          .mb-50 {
            margin-bottom: 25px;
          }

          .count {
            font-size: 85px;
            line-height: 42px;
            letter-spacing: -2px;
          }
        }
      }
    }
  }


}
