.w-95 {
  width: 95%;
}

.padding {
  padding-top: 511px;
  padding-bottom: 217px;
}

@media (max-width: 999px) {
  .black {
    color: var(--black);
  }

  .padding {
    padding-top: 166px;
    padding-bottom: 82px;
  }

  .w-95 {
    width: 80%;
  }
}

@media (min-width: 1000px) and (max-width: 1350px) {
  .padding {
    padding-top: 225.5px;
    padding-bottom: 108px;
  }

  .gap-10 {
    gap: 32px;
  }

  .w-95 {
    width: 70%;
  }
}

@media (min-width: 1351px) and (max-width: 1900px) {
  .padding {
    padding-top: 225.5px;
    padding-bottom: 108px;
  }

  .gap-10 {
    gap: 32px;
  }

  .w-95 {
    width: 70%;
  }
}

@media (min-width: 1901px) and (max-width: 2700px) {
  .padding {
    padding-top: 349.19px;
    padding-bottom: 129.80px;
  }

  .gap-10 {
    gap: 32px;
  }

  .w-95 {
    width: 80%;
  }
}

@media (min-width: 2701px) and (max-width: 3000px) {
  .padding {
    padding-top: 511px;
    padding-bottom: 217px;
  }

  .gap-10 {
    gap: 64px;
  }

  .w-95 {
    width: 85%;
  }
}
