.padding {
  padding: 545px 0;
}

.border {
  border-left: 1px solid black;
}

.h-760 {
  height: 760px;
}

img {
  max-width: 380px;
}

.company {
  font-size: 44px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.5px;
  color: black;
  padding: 25px 80px;
  border-radius: 160px;
  background-color: #E9E9E9B2;

  &:hover {
    background-color: black;
    color: white;

    .description {
      display: flex;
    }
  }
}

.ml-40 {
  margin-left: 40px;
}

.gap-60 {
  gap: 60px;
}

.description {
  margin-left: 40px;
  display: none;
}

.description.visible {
  display: flex;
}

.description.hidden {
  display: none;
}

@media (max-width: 999px) {

  .padding {
    padding: 160px 0 170px;
  }

  .company {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.5px;
    padding: 15px 24px;
    border-radius: 48px;
  }

  .mb-60 {
    margin-bottom: 20px;
  }

  .gap-10 {
    gap: 5px;
  }

  .ml-40 {
    margin-left: 20px;
  }

  .h-760 {
    height: 540px;
  }

  .description {
    margin-left: 20px;
  }

  img {
    max-width: 170px;
  }

  .gap-60 {
    gap: 20px;
  }

  .text-gray, .text-black {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (min-width: 1000px) and (max-width: 1450px) {

  .padding {
    padding: 270px 0 275px;
  }

  .company {
    font-size: 22px;
    line-height: 27px;
    padding: 20px 40px;
    border-radius: 80px;
  }

  .mb-60 {
    margin-bottom: 30px;
  }

  .gap-10 {
    gap: 5px;
  }

  .ml-40 {
    margin-left: 20px;
  }

  .h-760 {
    height: 380px;
  }

  .description {
    width: 50%;
    margin-left: 20px;
  }

  img {
    max-width: 200px;
  }

  .gap-60 {
    gap: 35px;
  }

  .text-gray, .text-black {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (min-width: 1451px) and (max-width: 2000px) {

  .padding {
    padding: 360px 0 370px;
  }

  .company {
    font-size: 30px;
    line-height: 40px;
    padding: 30px 70px;
    border-radius: 110px;
  }

  .mb-60 {
    margin-bottom: 30px;
  }

  .gap-10 {
    gap: 10px;
  }

  .ml-40 {
    margin-left: 20px;
  }

  .h-760 {
    height: 380px;
  }

  .description {
    width: 50%;
    margin-left: 20px;
  }

  img {
    max-width: 270px;
  }

  .gap-60 {
    gap: 47px;
  }

  .text-gray, .text-black {
    font-size: 25px;
    line-height: 30px;
  }
}
