.projects-slider {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: grab;

  &.isMouseDown {
    cursor: grabbing;
  }

  .w-70 {
    width: 70%;
  }

  .slide {
    position: relative;
    width: 1073px;
    min-width: 1073px;
    margin-right: 40px;

    .banner {
      height: 600px;
      border-radius: 60px;
      margin-bottom: 36px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .services {
      position: absolute;
      top: 40px;
      left: 40px;

      .service {
        background-color: var(--white);
        border-radius: 20px;
        padding: 12px 36px;
        color: var(--black);
        font-weight: 400;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: 0.5px;
      }
    }
  }
}

@media (max-width: 999px) {
  .mobik {
    margin-left: 8px;
  }

  .projects-slider {
    //width: 102% !important;
    //margin-left: -8px;

    .w-70 {
      width: 100%;
    }

    .slide {
      width: 300px;
      min-width: 300px;
      margin-right: 10px;

      .banner {
        height: 270px;
        border-radius: 20px;
        margin-bottom: 10px;
      }

      .services {
        position: absolute;
        top: 10px;
        left: 10px;

        .service {
          padding: 3px 15px;
          border-radius: 12px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1450px) {
  .projects-slider {

    .slide {
      width: 537px;
      min-width: 537px;
      margin-right: 20px;

      .banner {
        height: 310px;
        border-radius: 30px;
        margin-bottom: 20px;
      }

      .services {
        top: 20px;
        left: 20px;

        .service {
          padding: 1px 20px;
          border-radius: 10px;
          font-size: 12px;
        }
      }

      .text-gray {
        font-size: 17px;
        line-height: 22px;
      }
    }
  }
}

@media (min-width: 1451px) and (max-width: 2000px) {
  .projects-slider {

    .slide {
      width: 730px;
      min-width: 730px;
      margin-right: 20px;

      .banner {
        height: 425px;
        border-radius: 30px;
        margin-bottom: 20px;
      }

      .w-70 {
        width: 100%;
      }

      .services {
        top: 20px;
        left: 20px;

        .service {
          padding: 5px 22px;
          border-radius: 14px;
          font-size: 15px;
        }
      }

      .text-gray {
        font-size: 25px;
        line-height: 30px;
      }
    }
  }
}

