<div class="video-background w-100 h-100">
  <video autoplay muted loop>
    <source src="/video/123.mov" type="video/mp4">
  </video>
</div>
<div class="content w-100 d-flex a-i-center j-c-center">
  <div class="w-100 h-100 d-flex a-i-center j-c-center border">
    <img src="images/biglogo.svg" alt="logo" class="mb-50 logo"/>
    <div class="bottom-container d-flex direction-column j-c-start gap-10">
      <img src="images/circles.svg" class="circles" alt="icon"/>
      <div class="text-title">Brainstore — креативное агенство
        <span>созидателей, художников, дизайнеров и стратегов</span>
      </div>
    </div>
  </div>
</div>

