<div class="popup">
  <div class="container d-flex direction-column j-c-space-between a-i-start h-100">
    <div class="d-flex direction-column gap-10" style="margin-top: 150px">
      <a (click)="toSection('services')" class="text-black">Услуги</a>
      <a (click)="toSection('works')" class="text-black">Работы</a>
      <a routerLink="/contacts" class="text-black">Контакты</a>
      <a routerLink="/team" class="text-black">Команда</a>
      <a routerLink="/merch" class="text-black">Стор</a>
    </div>
    <div class="d-flex direction-column gap-30">
      <div class="d-flex direction-column gap-5">
        <span>+7 (843) 251-99-99</span>
        <span>hellobrainstore.agency</span>
      </div>
      <div class="d-flex direction-column gap-5">
        <span>Telegram</span>
        <span>VK</span>
      </div>
    </div>
  </div>
</div>
