<div class="team-content w-100">
  <div class="d-flex direction-column a-i-start w-100 container">
    <markdown class="text-title mb-400 padd w-80" [data]="settings.settings?.team_description"></markdown>
    <markdown class="w-50 texx" [data]="settings.settings?.team_sub_description"></markdown>
    <img [src]="settings.settings?.team_image_url" alt="picture" class="mb-60"/>
    <markdown class="text-gray mb-401" [data]="settings.settings?.team_image_description"></markdown>
  </div>
  <app-manifesto></app-manifesto>
  <app-works></app-works>
  <app-form></app-form>
</div>

